name: eslint
on:
  push:
    branches:
      - main
  pull_request: {}

permissions:
  contents: read

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - run: npm install
      - run: npm run compile
      - run: npm run lint
        