name: eslint
on:
  push:
    branches:
      - main
  pull_request: {}

permissions:
  contents: read

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: npm install
      - run: npm run compile
      - run: npm run lint
        