on:
  push:
    tags:
      - "*"

name: Publish Extension
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run compile
      - run: npm run lint
  publish:
    needs: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - name: Publish to Visual Studio Marketplace
        id: publishToMarketplace
        uses: HaaLeo/publish-vscode-extension@v0
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
      - name: Publish to Open VSX
        run: npx ovsx publish "${{ steps.publishToMarketplace.outputs.vsixPath }}" -p "${{ secrets.OPEN_VSX_TOKEN }}"
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "${{ steps.publishToMarketplace.outputs.vsixPath }}"
          token: ${{ secrets.GITHUB_TOKEN }}
