on:
  push:
    tags:
      - "*"

permissions:
  contents: read

name: Publish Extension
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: npm install
      - run: npm run compile
      - run: npm run lint
  publish:
    needs: eslint
    runs-on: ubuntu-latest
    # These permissions are needed to assume roles from Github's OIDC.
    permissions:
      contents: write
      id-token: write 
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: npm install
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          # Secrets placed in the ci/repo/grafana/<repo>/<path> path in Vault
          repo_secrets: |
            OPEN_VSX_TOKEN=openvsx:token
            VS_MARKETPLACE_TOKEN=vscode-marketplace:token
      - name: Publish to Open VSX
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # v2.0.0
        with:
          pat: ${{ env.OPEN_VSX_TOKEN }}
          registryUrl: https://open-vsx.org
      - name: Publish to Visual Studio Marketplace
        id: publishToMarketplace
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # v2.0.0
        with:
          pat: ${{ env.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: true
          artifacts: "${{ steps.publishToMarketplace.outputs.vsixPath }}"
          token: ${{ secrets.GITHUB_TOKEN }}
